/* Color Name */
/* h1{
    color: tomato;
} */

/* Hex code */
/* h1{
    color: #333ba6
} */

/* RBG */
/* h1{
    color: rgb(51, 42, 22);
} */

/* background Color */
/* body{
    background-color: wheat;
    color: red;
    
} */

/* div{
    background-color: wheat;
    columns: red;
}
 */

 /* Opacity */
 /* #div1{
    background-color: green;
    opacity: ;
 } */

 /* img{
    opacity: 0.5;
 } */

 

